.nav-item{
    font-size: large;
}
.data{
    font-size: x-large;
}
.display-2{
    font-family: 'Comic Sans MS';
}

.sec1{
    background-image: url('skys.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
    /* width: 100%; */
}
.img{
    width: 75px;
    height: 75px; 
    border-radius:100%;
    border: rgb(20, 8, 8) 5px;
    border-style: double;
    border-width: 5px;

}

.list{
    margin: 10px;
}
.card{
    margin: 10px;
    padding: 10px;
}

.mtxl{
    margin-top: 200px;
}
